@using Hl7.Fhir.Model
@using GPMigratorApp.GPConnect.Helpers
@using GPMigratorApp.DTOs
@using GPMigratorApp.ViewComponents
@model IEnumerable<GPMigratorApp.DTOs.OrganizationDTO>

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">All Organizations</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
  <tr role="row">
    <th role="columnheader" class="" scope="col">
      Organization Name
    </th>
    <th role="columnheader" class="" scope="col">
      ODS Code
    </th>
    <th role="columnheader" class="" scope="col">
      Phone number
    </th>
  </tr>
  </thead>
  <tbody class="nhsuk-table__body">
  
  @foreach (var organization in Model)
  {
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">ID</span>
        <a href=@Url.Action("Organization","Organization", new{originalId=@organization.OriginalId})>@organization.Name</a>
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">ODS Code </span>@organization.ODSCode
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Phone number </span>@organization.Telecom
      </td>
    </tr>
  }
  

  </tbody>
</table>